body {
  display: flex;
  flex: auto;
}

#root {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.imgdiv .foto_mobile {
  display: none;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
}

.container {
  display: flex;
  flex: auto;
  height: 100vh;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .nav {
    justify-content: center;
  }

  .content .leftblock {
    height: 80%;
    width: 25%;
  }

  .leftblock .imgdiv {
    height: 300px;
    width: 120px;
  }

  .list p {
    font-weight: 100;
    line-height: 1.2;
  }

  .description {
    margin-left: 18%;
  }

  .description .greeting h2 {
    font-size: 1em;
    margin-top: -5%;
    margin-bottom: -5%;
  }
}

@media (max-width: 600px) {
  .imgdiv .foto_big {
    display: none;
  }

  .imgdiv .foto_mobile {
    display: flex;
    border-radius: 50%;
  }

  .content {
    flex-direction: column;
  }

  .content .leftblock {
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 105px;
    margin-left: -10%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    box-shadow: none;

  }

  .leftblock .imgdiv {
    height: 120px;
    width: 105px;
    border-radius: 50%;
    box-shadow: none;
  }

  .leftblock .imgdiv img {
    box-shadow: none;
  }

  .content .description {
    width: 90%;
    margin-left: 0;
    align-items: center;
  }

  .description .greeting h2 {
    margin-left: -9%;
  }
}

.nav a {
  font-family: 'Roboto';
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  color: black;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.leftblock {
  display: flex;
  border-radius: 2px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(219, 217, 217);
  height: 95%;
  width: 25%;
  margin-left: 5%;
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
}

.imgdiv {
  display: flex;
  height: 400px;
  width: 150px;
}

.imgdiv img {
  display: flex;
  border-radius: 2px;
  height: 100%;
  width: 150%;
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
  pointer-events: none;
}

.description {
  display: flex;
  font-family: 'Roboto';
  font-weight: 400;
  flex-direction: column;
  margin-left: 22%;
  height: auto;
  width: 50%;
  line-height: 1.7;
}

.list {
  width: 93%;
  word-break: break-word;
}

.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5%;
}

.projects h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  border: 1px solid rgb(233, 231, 231);
  border-radius: 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card img {
  height: 80%;
  width: 80%;
  border-radius: 2px;
  margin: 5%;
}

.card:hover {
  box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
}

.card h3 {
  font-family: 'Roboto';
  font-weight: 400;
}

.card a {
  font-family: 'Roboto';
  font-weight: 200;
  color: black;
  text-decoration: none;
  margin: 5%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.contacts {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15%;
}

.contCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Roboto';
  font-weight: 400;
  height: 30vh;
  width: 40vh;
}

.contCard img {
  height: 30px;
  width: 50px;
  pointer-events: none;
}

.contCardPlate {
  display: flex;
  align-items: center;
}

.contCardPlate a {
  color: black;
  text-decoration: none;
}

.contCardPlate a:hover {
  text-decoration: underline;
}



